<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 2018-09-18, 23:42:33</p>
            <h2><a href="">My first post</a></h2>
            <p>this post gives about amrita and its programmes</p>
        </div>

        <div>
            <p>published: 2018-09-18, 23:41:13</p>
            <h2><a href="">My second post</a></h2>
            <p>it explains about installation of django</p>
        </div>
    </body>
</html>